@{
    ViewData["Title"] = "HomeS2 Page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<!-- Thêm thư viện Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
 <!-- Thêm thư viện Leaflet Geocoder -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/homes2.css" asp-append-version="true" />
<link rel="stylesheet" href="~/CallCenter_MVC.styles.css" asp-append-version="true" />

<div class="box">
    <div class="map-col" id="map"></div>
    <script src="~/js/HomeS2.js" asp-append-version="true"></script> 
    <div class="list-col">
        <div class="list-header">
            Danh sách
            <select id="mapOptions" onchange="changeMapPlugin()">
                <option value="google">Google Maps</option>
                <option value="leaflet">Leaflet</option>
            </select>
        </div>
        @* @foreach (var booking in ViewBag.listBooking) {
            <div class="unapproved-card" id="card-@booking.IdCustomer">
                <div class="card-content" id="card-content" onclick="getRoute('@booking.SrcAddress', '@booking.DesAddress', '@booking.IdCustomer')">
                    <div><span class="card-title">STT: </span>@booking.IdCustomer</div>
                    <input type="hidden" id="id-@booking.IdCustomer" value="@booking.IdCustomer">

                    <div><span class="card-title" type="hidden">Khách: </span>@booking.NameCustomer</div>
                    <input type="hidden" id="name-@booking.IdCustomer" value='@booking.NameCustomer'>

                    <div><span class="card-title">Địa điểm đi: </span>@booking.SrcAddress</div>
                    <input type="hidden" id="srcaddress-@booking.IdCustomer" value="@booking.SrcAddress">
                    <input type="hidden" id="srclong-@booking.IdCustomer" value="@booking.SrcLong">
                    <input type="hidden" id="srclat-@booking.IdCustomer" value="@booking.SrcLat">

                    <div><span class="card-title">Địa điểm đến: </span>@booking.DesAddress</div>
                    <input type="hidden" id="desaddress-@booking.IdCustomer" value="@booking.DesAddress">
                    <input type="hidden" id="deslong-@booking.IdCustomer" value="@booking.DesLong">
                    <input type="hidden" id="deslat-@booking.IdCustomer" value="@booking.DesLat">

                    <input type="hidden" id="distance-@booking.IdCustomer" value="@booking.Distance">
                </div>
                <div class="btn-area">
                    <span class="btn1 disable" id="detail-@booking.IdCustomer" onclick="showModalDialog('@booking.IdCustomer', '@booking.NameCustomer', '@booking.SrcAddress', '@booking.DesAddress')">Detail</span>
                    <span class="btn2 disable" id="send-@booking.IdCustomer">Send</span>
                    <span class="btn3">Discard</span>
                </div>
            </div>
        } *@
        
        @foreach (var booking in ViewBag.listBooking) {
            <div class="unapproved-card" id="card-@booking.FullName">
                <div class="card-content" id="card-content" onclick="getRoute('@booking.AddrFrom', '@booking.AddrTo', '@booking.FullName')">
                    <div><span class="card-title">STT: </span>@booking.FullName</div>
                    <input type="hidden" id="id-@booking.FullName" value="@booking.FullName">

                    <div><span class="card-title" type="hidden">Khách: </span>@booking.FullName</div>
                    <input type="hidden" id="name-@booking.FullName" value='@booking.FullName'>

                    <div><span class="card-title">Địa điểm đi: </span>@booking.AddrFrom</div>
                    <input type="hidden" id="srcaddress-@booking.FullName" value="@booking.AddrFrom">
                    <input type="hidden" id="srclong-@booking.FullName" value="@booking.SrcLong">
                    <input type="hidden" id="srclat-@booking.FullName" value="@booking.SrcLat">

                    <div><span class="card-title">Địa điểm đến: </span>@booking.AddrTo</div>
                    <input type="hidden" id="desaddress-@booking.FullName" value="@booking.AddrTo">
                    <input type="hidden" id="deslong-@booking.FullName" value="@booking.DesLong">
                    <input type="hidden" id="deslat-@booking.FullName" value="@booking.DesLat">

                    <input type="hidden" id="distance-@booking.FullName" value="@booking.Distance">
                </div>
                <div class="btn-area">
                    <span class="btn1 disable" id="detail-@booking.FullName" onclick="showModalDialog('@booking.FullName', '@booking.AddrFrom', '@booking.AddrTo')">Detail</span>
                    <span class="btn2 disable" id="send-@booking.FullName">Send</span>
                    <span class="btn3">Discard</span>
                </div>
            </div>
        } 
    </div> 
</div>

<div open id="myModal" class="modal">
    <div class="modal-header" id="modal-header">
        Thông tin chi tiết
    </div>
    <div class="modal-content" id="modal-content">  
        <p>ID: <span id="modal-customerId"></span></p>
        <p>Customer Name: <span id="modal-customerName"></span></p>
        <p>Start Address: <span id="modal-startAddress"></span></p>
        <p>Start Latitude: <span id="modal-startLat"></span></p>
        <p>Start Longitude: <span id="modal-startLon"></span></p>
        <p>End Address: <span id="modal-endAddress"></span></p>
        <p>End Latitude: <span id="modal-endLat"></span></p>
        <p>End Longitude: <span id="modal-endLon"></span></p>
        <p>Route Distance: <span id="modal-routeDistance"></span><span> km</span></p>
    </div>
    <div class="modal-footer" id="modal-footer">
        <span class="btn2">Send</span>
        <span class="btn3" onclick="closeModal()">Close</span>
    </div>
</div>